<div class="row">
  <h3>{{t 'thankyou.title'}}</h3><br>
  <p class="break-line">{{t 'thankyou.instructions'}}</p>
</div>
<div class="row">
    <div class="text-center margin-top-sm">
        {{#link-to exitUrl class="btn btn-default btn-lg"}}
            {{t 'thankyou.exitButton'}}
        {{/link-to}}
        <br>
        {{#link-to resultsUrl class="btn btn-primary btn-lg"}}
            {{t 'thankyou.personalityFeedbackButton'}}
        {{/link-to}}
    </div>
</div>
<div class="text-center margin-top-lg">
    <img src="assets/img/smiling-globe.jpg">
</div>